<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Autenticar</servlet-name>
        <servlet-class>com.jc.controladores.Autenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>identificar_usuario</servlet-name>
        <servlet-class>com.jc.controladores.identificar_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertar</servlet-name>
        <servlet-class>com.jc.controladores.insertar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autenticar</servlet-name>
        <url-pattern>/Autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>identificar_usuario</servlet-name>
        <url-pattern>/identificar_usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertar</servlet-name>
        <url-pattern>/insertar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
